/* 
.container {
    width: 90%; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.flight-card {
    width: calc(30% - 20px); 
    margin: 20px 0; 
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Start from the left */
}

.flight-card {
    width: calc(30% - 20px); /* Adjust card width as needed */
    margin: 20px 10px; /* Adjust vertical and horizontal margin */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* Remove the position: relative; */
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.flight-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.segments {
    display: flex;
    flex-wrap: wrap;
}

.segment {
    background: #eef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    flex-grow: 1;
    flex-basis: calc(50% - 10px);
}

.segment p {
    margin: 5px 0;
    color: #666;
}

.segment p strong {
    color: #333;
}

.avail-class-button, .book-now-button, .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.avail-class-button {
    background-color: #09a1dd; 
    color: white;
}

.avail-class-button:hover {
    background-color: #4fa0b4;
}

.book-now-button {
    position: relative;
    bottom: -6px;
    right: 0px;
    background-color: #376a7b; /* Blue */
    color: white;
}

.book-now-button:hover {
    background-color: #0073e6;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336; /* Red */
    color: white;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.flight-card p:last-of-type {
    margin-top: 20px;
}

.availability-chart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.availability-chart th,
.availability-chart td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.availability-chart th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.availability-chart tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
